<div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">BP Title</h5>
    <p class="card-text">This is where the blog post content will go.</p>
    <a href="#" class="btn btn-primary">comment</a>
  </div>
</div>

<div class="container mt-3">
  <form action="/action_page.php">
    <div class="mb-3 mt-3">
      <textarea class="form-control" rows="5" id="comment" name="text" placeholder="enter comment here"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

</div>
